site_name: Algorithm Handbook
site_url: https://scriptsledge.github.io/algorithm-handbook/
site_author: ScriptSledge
repo_url: https://github.com/scriptsledge/algorithm-handbook
repo_name: scriptsledge/algorithm-handbook
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: custom
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - navigation.instant
    - header.autohide
    - toc.follow
    - search.suggest
    - search.highlight
    - content.code.copy
  icon:
    repo: fontawesome/brands/github
  font:
    text: Inter
    code: JetBrains Mono

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path:
        - '.'
        - 'src'
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
  - tables
  - attr_list
  - md_in_html

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - stylesheets/extra.css
  - https://unpkg.com/katex@0/dist/katex.min.css

nav:
  - Home: index.md
  - Problems:
      - '0033. Search in Rotated Sorted Array': problems/0033.md
      - '0169. Majority Element': problems/0169.md
      - '1399. Count Largest Group': problems/1399.md
      - '0781. Rabbits in Forest': problems/0781.md
      - '2563. Count the Number of Fair Pairs': problems/2563.md
      - '0035. Search Insert Position': problems/0035.md
      - '2176. Count Equal and Divisible Pairs in an Array': problems/2176.md
      - '0704. Binary Search': problems/0704.md
      - '0152. Maximum Product Subarray': problems/0152.md
      - '3375. Minimum Operations to Make Array Values Equal to K': problems/3375.md
      - '0001. Two Sum': problems/0001.md
      - '0268. Missing Number': problems/0268.md
      - '0088. Merge Sorted Array': problems/0088.md
      - '0056. Merge Intervals': problems/0056.md
      - '0053. Maximum Subarray': problems/0053.md
      - '2874. Maximum Value of an Ordered Triplet II': problems/2874.md
      - '2149. Rearrange Array Elements': problems/2149.md
